@import url('../../index.css');

.wrapper {
	max-width: 1200px;
	padding: 0px 20px;
	margin: 0 auto;
	width: 100%;
	margin-top: 40px;
	/* Добавлен отступ сверху, равный высоте боковой панели */
	margin-left: 450px;
	/* Добавлен отступ справа, равный ширине боковой панели */
	box-sizing: border-box;
	/* Учитываем отступы в общей ширине элемента */
}

/* !HEADER! */
.header {
	margin-top: 40px;
}

.headerContent {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


/* !NAV BAR CHATS! */
.navBarChats {
	margin-top: 40px;
}

.userProfileBlock {
	background-color: var(--main-gray);
	margin-top: 40px;
	border-radius: 30px;
}

.userProfileContent {
	padding: 50px 90px;
}

.userProfileBannerBlock {
	max-width: 100%;
	margin-bottom: 30px;
}

.userProfileBanner {
	max-width: 100%;
}

.userProfileInfoBlock {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.userProfileImage {
	width: 100px;
	height: 100px;
	margin-right: 16px;
}

.userProfileImage img {
	width: 100%;
	border-radius: 50%;
}

.userProfileNickname {
	color: var(--white-text);
	font-size: var(--fz32);
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.userDescBlock {
	display: flex;
	flex-direction: column;
}

.userDescTitle {
	color: var(--white-text);
	font-size: var(--fz24);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 5px;
}

.userDesc {
	color: var(--white-text);
	font-size: var(--fz18);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
