@import url('../../index.css');

.formBlock {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: 0 auto;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.formTitle {
	color: var(--main-black);
	font-size: var(--fz60);
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 30px;
}

.input {
	max-width: 240px;
	width: 100%;
	font-size: var(--fz16);
	padding: 15px 30px;
	background: none;
	border: 2px solid var(--main-black);
}

.input:not(:last-child) {
	margin-bottom: 20px;
}


.btns {
	display: flex;
	flex-direction: column;
	width: 310px;
	margin-top: 40px;
}

.btn {
	cursor: pointer;
	width: 100%;
	padding: 15px 50px;
	background: var(--main-color);
	border: 2px solid var(--main-black);
	font-size: var(--fz16);
	font-weight: 600;
	color: var(--main-black);
	transition: all 0.5s ease-in-out;
}

.btn:hover {
	background-color: var(--main-black);
	border: 2px solid var(--main-black);
	color: var(--main-color);
}

.btn:not(:last-child) {
	margin-bottom: 15px;
}
